<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>Insert title here</title>
</head>
<body>
	 <form  action="/post" method="post">
        제목 : <input type="text" name="title"> <br>
        작성자 : <input type="text" name="writer"> <br>
        내용 : <textarea name="content"></textarea><br>

        <input type="submit" value="등록"> 
        <<!-- button type="submit">등록</button> -->
    </form>
</body>
</html>